# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory
coverage/

# Next.js build output
.next/

# VS Code and other IDE/editor settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Optional: Ignore compiled files (if using TypeScript or Babel)
dist/
build/
